*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('images/download\ \(3\).jpeg');
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.home{
        height: 80vh;
        display: flex;
        align-items: center;
        padding: 0 10%;
}
.biodata {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
.tugas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
} 
.crop-img {
    object-fit: cover;
}

services img {
    width: 250px;
    border: 10px solid;
}
footer {
    padding: 4rem 0;
    background: var(--secondaryBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons a:hover svg {
 fill: #000;
}
